:root {
    --pico-font-size: 100%;
    --pico-font-family: GothamPro;
    --pico-font-weight: 300;
}

header.landing-head {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
}

header.landing-head .main-logo a {
    text-decoration: none;
    font-weight: 600;
    color: #012991;
    position: relative;
}

header.landing-head .main-logo a img {
    width: 300px;
}

header.landing-head .main-logo a span {
    position: absolute;
    text-wrap: nowrap;
    bottom: -12px;
    padding-left: 10px;
}

header.landing-head .features-checklist ul {
    list-style: none;
}

header.landing-head .features-checklist ul li {
    margin: 5px 0;
}

header.landing-head .features-checklist ul li:before {
    content: '✓ ';
    font-weight: 900;
    color: green;
}

.table-wrapper {
    min-height: 400px;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.edit-employee-dialog article {
    max-width: 1200px;
}

.regis-wrapper {
    display: flex;
}

.regis-wrapper form,
.regis-wrapper div {
    padding: 10px;
    width: 50%;
}

button.rounded {
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.regis-wrapper td,
.regis-wrapper th {
    background-color: #181c25;
}

.clickeable-icon {
    cursor: pointer;
    color: #727272;
}

.clickeable-icon:hover {
    color: var(--pico-color);
}

.hidden {
    display: none;
}

.navigation button {
    margin: 3px;
}