:root {
    --pico-font-size: 100%;
    --pico-font-family: GothamPro;
    --pico-font-weight: 300;
}

header {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
}

header .main-logo a {
    text-decoration: none;
    font-weight: 600;
    color: #012991;
    position: relative;
}

header .main-logo a img {
    width: 300px;
}

header .main-logo a span {
    position: absolute;
    text-wrap: nowrap;
    bottom: -12px;
    padding-left: 10px;
}

header .features-checklist ul {
    list-style: none;
}

header .features-checklist ul li {
    margin: 5px 0;
}

header .features-checklist ul li:before {
    content: '✓ ';
    font-weight: 900;
    color: green;
}

.table-wrapper {
    min-height: 400px;
}

.right {
    display: flex;
    justify-content: flex-end;
}
