<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="stylesheet" href="css/gotham.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

    <title>LegalMatch - Login</title>
    <script type="text/javascript" th:inline="javascript">
        var serverUrl = [[${ serverAddress }]];
    </script>

    <style>
        .center {
            display: flex;
            justify-content: center;
        }

        .login-card {
            max-width: 400px;
        }

        .logo {
            width: 70%;
        }
    </style>
</head>

<body>
    <main class="container center">
        <article class="login-card">
            <div class="center">
                <img class="logo" src="img/legalmatch-icon.png" alt="legalmatch-logo">
            </div>
            <form id="login-form" onSubmit="return false;" action="">
                <fieldset>
                    <label>
                        Username
                        <input name="username" placeholder="Username" autocomplete="username" />
                    </label>
                    <label>
                        Password
                        <input type="password" name="password" placeholder="Password" autocomplete="password" />
                    </label>
                </fieldset>

                <button type="submit" id="login-button">Login</button>
            </form>
        </article>

    </main>
</body>
<script src="js/login.js"></script>
<script src="js/data.js"></script>
<script src="js/auth.js"></script>

</html>